/*
__/\\\_____________________________________/\\\_____/\\\\\\\\\\______/\\\\\\\\\\___/\\\\\\\\\\\\\\\__/\\\________/\\\____/\\\\\\\\\_________/\\\\\\\\\\___/\\\______________/\\\_        
 _\/\\\_________________________________/\\\\\\\___/\\\///////\\\___/\\\///////\\\_\/////////////\\\_\/\\\_____/\\\//___/\\\///////\\\_____/\\\///////\\\_\/\\\_____________\/\\\_       
  _\/\\\___________/\\\__/\\\___________\/////\\\__\///______/\\\___\///______/\\\_____________/\\\/__\/\\\__/\\\//_____\/\\\_____\/\\\____\///______/\\\__\/\\\_____________\/\\\_      
   _\/\\\__________\//\\\/\\\________________\/\\\_________/\\\//___________/\\\//____________/\\\/____\/\\\\\\//\\\_____\/\\\\\\\\\\\/____________/\\\//___\//\\\____/\\\____/\\\__     
    _\/\\\\\\\\\_____\//\\\\\_________________\/\\\________\////\\\_________\////\\\_________/\\\/______\/\\\//_\//\\\____\/\\\//////\\\___________\////\\\___\//\\\__/\\\\\__/\\\___    
     _\/\\\////\\\_____\//\\\__________________\/\\\___________\//\\\___________\//\\\______/\\\/________\/\\\____\//\\\___\/\\\____\//\\\_____________\//\\\___\//\\\/\\\/\\\/\\\____   
      _\/\\\__\/\\\__/\\_/\\\___________________\/\\\__/\\\______/\\\___/\\\______/\\\_____/\\\/__________\/\\\_____\//\\\__\/\\\_____\//\\\___/\\\______/\\\_____\//\\\\\\//\\\\\_____  
       _\/\\\\\\\\\__\//\\\\/____________________\/\\\_\///\\\\\\\\\/___\///\\\\\\\\\/____/\\\/____________\/\\\______\//\\\_\/\\\______\//\\\_\///\\\\\\\\\/_______\//\\\__\//\\\______ 
        _\/////////____\////______________________\///____\/////////_______\/////////_____\///______________\///________\///__\///________\///____\/////////__________\///____\///_______     
*/
// Colors palette
$primary-color: #3498db;
$button-primary-color: #3498db; // MAIN BLUE
$background-color: #e0e0e0; //BACKGROUND
$text-color: #333; //TEXT COLOR
$error-color: #e74c3c; // ERROR COLOR
$success-color: #2ecc71; //SUCCESS COLOR
$link-color: $button-primary-color;
$link-hover-color: darken($button-primary-color, 10%);
// SHADOWS (NEOMORPHIC STYLE)
$box-shadow: 8px 8px 16px rgba(165, 177, 198, 0.8),
    -8px -8px 16px rgba(255, 255, 255, 0.8);
//----------MESSAGE SHADOW
$message-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
//----------TEXT SHADOW
$text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
//----------INPUT SHADOW
$input-box-shadow: inset 3px 3px 9px rgba(0, 0, 0, .125),
    inset -3px -3px 9px rgba(255, 255, 255, 1);
//----------FORM SHADOW
$form-box-shadow: 8px 8px 16px rgba(165, 177, 198, 0.8),
    -8px -8px 16px rgba(255, 255, 255, 0.8);
//----------BUTTON PRESS EFFECT SHADOW
$effect-btn-press-box-shadow: inset 2px 2px 5px rgba(165, 177, 198, 0.6),
    inset -2px -2px 5px rgba(255, 255, 255, 0.6);

// STRUCTURE
$border-radius: 12px;
$input-padding: 0.75rem;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//CSS Box Sizing Reset
*,
*::before,
*::after {
    box-sizing: inherit;
}

/*
__/\\\_____________________________________/\\\_____/\\\\\\\\\\______/\\\\\\\\\\___/\\\\\\\\\\\\\\\__/\\\________/\\\____/\\\\\\\\\_________/\\\\\\\\\\___/\\\______________/\\\_        
 _\/\\\_________________________________/\\\\\\\___/\\\///////\\\___/\\\///////\\\_\/////////////\\\_\/\\\_____/\\\//___/\\\///////\\\_____/\\\///////\\\_\/\\\_____________\/\\\_       
  _\/\\\___________/\\\__/\\\___________\/////\\\__\///______/\\\___\///______/\\\_____________/\\\/__\/\\\__/\\\//_____\/\\\_____\/\\\____\///______/\\\__\/\\\_____________\/\\\_      
   _\/\\\__________\//\\\/\\\________________\/\\\_________/\\\//___________/\\\//____________/\\\/____\/\\\\\\//\\\_____\/\\\\\\\\\\\/____________/\\\//___\//\\\____/\\\____/\\\__     
    _\/\\\\\\\\\_____\//\\\\\_________________\/\\\________\////\\\_________\////\\\_________/\\\/______\/\\\//_\//\\\____\/\\\//////\\\___________\////\\\___\//\\\__/\\\\\__/\\\___    
     _\/\\\////\\\_____\//\\\__________________\/\\\___________\//\\\___________\//\\\______/\\\/________\/\\\____\//\\\___\/\\\____\//\\\_____________\//\\\___\//\\\/\\\/\\\/\\\____   
      _\/\\\__\/\\\__/\\_/\\\___________________\/\\\__/\\\______/\\\___/\\\______/\\\_____/\\\/__________\/\\\_____\//\\\__\/\\\_____\//\\\___/\\\______/\\\_____\//\\\\\\//\\\\\_____  
       _\/\\\\\\\\\__\//\\\\/____________________\/\\\_\///\\\\\\\\\/___\///\\\\\\\\\/____/\\\/____________\/\\\______\//\\\_\/\\\______\//\\\_\///\\\\\\\\\/_______\//\\\__\//\\\______ 
        _\/////////____\////______________________\///____\/////////_______\/////////_____\///______________\///________\///__\///________\///____\/////////__________\///____\///_______     
*/