/*
__/\\\_____________________________________/\\\_____/\\\\\\\\\\______/\\\\\\\\\\___/\\\\\\\\\\\\\\\__/\\\________/\\\____/\\\\\\\\\_________/\\\\\\\\\\___/\\\______________/\\\_        
 _\/\\\_________________________________/\\\\\\\___/\\\///////\\\___/\\\///////\\\_\/////////////\\\_\/\\\_____/\\\//___/\\\///////\\\_____/\\\///////\\\_\/\\\_____________\/\\\_       
  _\/\\\___________/\\\__/\\\___________\/////\\\__\///______/\\\___\///______/\\\_____________/\\\/__\/\\\__/\\\//_____\/\\\_____\/\\\____\///______/\\\__\/\\\_____________\/\\\_      
   _\/\\\__________\//\\\/\\\________________\/\\\_________/\\\//___________/\\\//____________/\\\/____\/\\\\\\//\\\_____\/\\\\\\\\\\\/____________/\\\//___\//\\\____/\\\____/\\\__     
    _\/\\\\\\\\\_____\//\\\\\_________________\/\\\________\////\\\_________\////\\\_________/\\\/______\/\\\//_\//\\\____\/\\\//////\\\___________\////\\\___\//\\\__/\\\\\__/\\\___    
     _\/\\\////\\\_____\//\\\__________________\/\\\___________\//\\\___________\//\\\______/\\\/________\/\\\____\//\\\___\/\\\____\//\\\_____________\//\\\___\//\\\/\\\/\\\/\\\____   
      _\/\\\__\/\\\__/\\_/\\\___________________\/\\\__/\\\______/\\\___/\\\______/\\\_____/\\\/__________\/\\\_____\//\\\__\/\\\_____\//\\\___/\\\______/\\\_____\//\\\\\\//\\\\\_____  
       _\/\\\\\\\\\__\//\\\\/____________________\/\\\_\///\\\\\\\\\/___\///\\\\\\\\\/____/\\\/____________\/\\\______\//\\\_\/\\\______\//\\\_\///\\\\\\\\\/_______\//\\\__\//\\\______ 
        _\/////////____\////______________________\///____\/////////_______\/////////_____\///______________\///________\///__\///________\///____\/////////__________\///____\///_______     
*/

@import '../../styles/pneumorph.scss';

$max-width-global: 400px;
$padding-lateral-global: 20px;



.user-container {
    display: flex;
    flex-direction: column;
    max-width: $max-width-global;
    margin: 20px auto;
    padding: 0 $padding-lateral-global;
    margin: 0 auto;
    background-color: $background-color;
    border-radius: $border-radius;
    box-shadow: $form-box-shadow;
}

.user-data {
    text-align: center;
}

.user-info {}

/*
__/\\\_____________________________________/\\\_____/\\\\\\\\\\______/\\\\\\\\\\___/\\\\\\\\\\\\\\\__/\\\________/\\\____/\\\\\\\\\_________/\\\\\\\\\\___/\\\______________/\\\_        
 _\/\\\_________________________________/\\\\\\\___/\\\///////\\\___/\\\///////\\\_\/////////////\\\_\/\\\_____/\\\//___/\\\///////\\\_____/\\\///////\\\_\/\\\_____________\/\\\_       
  _\/\\\___________/\\\__/\\\___________\/////\\\__\///______/\\\___\///______/\\\_____________/\\\/__\/\\\__/\\\//_____\/\\\_____\/\\\____\///______/\\\__\/\\\_____________\/\\\_      
   _\/\\\__________\//\\\/\\\________________\/\\\_________/\\\//___________/\\\//____________/\\\/____\/\\\\\\//\\\_____\/\\\\\\\\\\\/____________/\\\//___\//\\\____/\\\____/\\\__     
    _\/\\\\\\\\\_____\//\\\\\_________________\/\\\________\////\\\_________\////\\\_________/\\\/______\/\\\//_\//\\\____\/\\\//////\\\___________\////\\\___\//\\\__/\\\\\__/\\\___    
     _\/\\\////\\\_____\//\\\__________________\/\\\___________\//\\\___________\//\\\______/\\\/________\/\\\____\//\\\___\/\\\____\//\\\_____________\//\\\___\//\\\/\\\/\\\/\\\____   
      _\/\\\__\/\\\__/\\_/\\\___________________\/\\\__/\\\______/\\\___/\\\______/\\\_____/\\\/__________\/\\\_____\//\\\__\/\\\_____\//\\\___/\\\______/\\\_____\//\\\\\\//\\\\\_____  
       _\/\\\\\\\\\__\//\\\\/____________________\/\\\_\///\\\\\\\\\/___\///\\\\\\\\\/____/\\\/____________\/\\\______\//\\\_\/\\\______\//\\\_\///\\\\\\\\\/_______\//\\\__\//\\\______ 
        _\/////////____\////______________________\///____\/////////_______\/////////_____\///______________\///________\///__\///________\///____\/////////__________\///____\///_______     
*/