/*
__/\\\_____________________________________/\\\_____/\\\\\\\\\\______/\\\\\\\\\\___/\\\\\\\\\\\\\\\__/\\\________/\\\____/\\\\\\\\\_________/\\\\\\\\\\___/\\\______________/\\\_        
 _\/\\\_________________________________/\\\\\\\___/\\\///////\\\___/\\\///////\\\_\/////////////\\\_\/\\\_____/\\\//___/\\\///////\\\_____/\\\///////\\\_\/\\\_____________\/\\\_       
  _\/\\\___________/\\\__/\\\___________\/////\\\__\///______/\\\___\///______/\\\_____________/\\\/__\/\\\__/\\\//_____\/\\\_____\/\\\____\///______/\\\__\/\\\_____________\/\\\_      
   _\/\\\__________\//\\\/\\\________________\/\\\_________/\\\//___________/\\\//____________/\\\/____\/\\\\\\//\\\_____\/\\\\\\\\\\\/____________/\\\//___\//\\\____/\\\____/\\\__     
    _\/\\\\\\\\\_____\//\\\\\_________________\/\\\________\////\\\_________\////\\\_________/\\\/______\/\\\//_\//\\\____\/\\\//////\\\___________\////\\\___\//\\\__/\\\\\__/\\\___    
     _\/\\\////\\\_____\//\\\__________________\/\\\___________\//\\\___________\//\\\______/\\\/________\/\\\____\//\\\___\/\\\____\//\\\_____________\//\\\___\//\\\/\\\/\\\/\\\____   
      _\/\\\__\/\\\__/\\_/\\\___________________\/\\\__/\\\______/\\\___/\\\______/\\\_____/\\\/__________\/\\\_____\//\\\__\/\\\_____\//\\\___/\\\______/\\\_____\//\\\\\\//\\\\\_____  
       _\/\\\\\\\\\__\//\\\\/____________________\/\\\_\///\\\\\\\\\/___\///\\\\\\\\\/____/\\\/____________\/\\\______\//\\\_\/\\\______\//\\\_\///\\\\\\\\\/_______\//\\\__\//\\\______ 
        _\/////////____\////______________________\///____\/////////_______\/////////_____\///______________\///________\///__\///________\///____\/////////__________\///____\///_______     
*/
.app-footer {
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1200px;
        font-size: 1rem;
    }

    .footer-links {
        display: flex;
        gap: 15px;

    }

    a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
    }
}

/*
__/\\\_____________________________________/\\\_____/\\\\\\\\\\______/\\\\\\\\\\___/\\\\\\\\\\\\\\\__/\\\________/\\\____/\\\\\\\\\_________/\\\\\\\\\\___/\\\______________/\\\_        
 _\/\\\_________________________________/\\\\\\\___/\\\///////\\\___/\\\///////\\\_\/////////////\\\_\/\\\_____/\\\//___/\\\///////\\\_____/\\\///////\\\_\/\\\_____________\/\\\_       
  _\/\\\___________/\\\__/\\\___________\/////\\\__\///______/\\\___\///______/\\\_____________/\\\/__\/\\\__/\\\//_____\/\\\_____\/\\\____\///______/\\\__\/\\\_____________\/\\\_      
   _\/\\\__________\//\\\/\\\________________\/\\\_________/\\\//___________/\\\//____________/\\\/____\/\\\\\\//\\\_____\/\\\\\\\\\\\/____________/\\\//___\//\\\____/\\\____/\\\__     
    _\/\\\\\\\\\_____\//\\\\\_________________\/\\\________\////\\\_________\////\\\_________/\\\/______\/\\\//_\//\\\____\/\\\//////\\\___________\////\\\___\//\\\__/\\\\\__/\\\___    
     _\/\\\////\\\_____\//\\\__________________\/\\\___________\//\\\___________\//\\\______/\\\/________\/\\\____\//\\\___\/\\\____\//\\\_____________\//\\\___\//\\\/\\\/\\\/\\\____   
      _\/\\\__\/\\\__/\\_/\\\___________________\/\\\__/\\\______/\\\___/\\\______/\\\_____/\\\/__________\/\\\_____\//\\\__\/\\\_____\//\\\___/\\\______/\\\_____\//\\\\\\//\\\\\_____  
       _\/\\\\\\\\\__\//\\\\/____________________\/\\\_\///\\\\\\\\\/___\///\\\\\\\\\/____/\\\/____________\/\\\______\//\\\_\/\\\______\//\\\_\///\\\\\\\\\/_______\//\\\__\//\\\______ 
        _\/////////____\////______________________\///____\/////////_______\/////////_____\///______________\///________\///__\///________\///____\/////////__________\///____\///_______     
*/