<nav class="main-navbar">
    <div class="navbar-logo">
        <a routerLink="/">Virtualknowledge</a>
    </div>

    <div class="navbar-links">
        <a routerLink="/login" class="nav-button primary">Login</a>
        <a routerLink="/register" class="nav-button secondary">Register</a>
    </div>
</nav>

<main class="welcome-main-content">
    <div class="container">
        <h1>Bienvenido al portal de Virtualknowledge</h1>
        <p>Tu punto de acceso a la gestión de usuarios y funcionalidades.</p>

        <div class="div-buttons">
        </div>
    </div>
</main>