<div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h1>Registro</h1>
        <!-- Success message -->
        <!-- Muestra el mensaje de éxito o error condicionalmente -->
         @if (message) {
            <div [class.success-message]="!isError" [class.error-message]="isError">
                {{ message }}
            </div>
        }
        <!-- Username -->
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" formControlName="username" />
            @if (registerForm.get('username')?.invalid && registerForm.get('username')?.touched) {
            <small class="error">Username is required.</small>
            }
            @if (registerForm.get('username')?.hasError('pattern') && registerForm.get('username')?.touched) {
            <small class="error">Username must have 4 to 16 charaters, including numbers.</small>
            }
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email" />
            @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
            <small class="error">Enter a valid email.</small>
            }
        </div>

        <!-- Password 1 -->
        <div class="form-group">
            <label for="password1">Password</label>
            <input id="password1" type="password" formControlName="password1" />
            @if (registerForm.get('password1')?.invalid && registerForm.get('password1')?.touched) {
            <small class="error">Password is required.</small>
            }
            @if (registerForm.get('password1')?.hasError('pattern') && registerForm.get('password1')?.touched) {
            <small class="error">Password must have 8 to 16 charaters, including at least 1 number, 1 upper case and 1
                special character [.@$!%*?&].</small>
            }
        </div>

        <!-- Password 2 -->
        <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input id="password2" type="password" formControlName="password2" />
            @if (registerForm.get('password2')?.invalid && registerForm.get('password2')?.touched) {
            <small class="error">Confirmation is required.</small>
            }
            @if (registerForm.get('password1')?.value !== registerForm.get('password2')?.value &&
            registerForm.get('password2')?.touched) {
            <small class="error">Passwords do not match.</small>
            }
        </div>

        <!-- Submit -->
        <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>


</div>