/*
__/\\\_____________________________________/\\\_____/\\\\\\\\\\______/\\\\\\\\\\___/\\\\\\\\\\\\\\\__/\\\________/\\\____/\\\\\\\\\_________/\\\\\\\\\\___/\\\______________/\\\_        
 _\/\\\_________________________________/\\\\\\\___/\\\///////\\\___/\\\///////\\\_\/////////////\\\_\/\\\_____/\\\//___/\\\///////\\\_____/\\\///////\\\_\/\\\_____________\/\\\_       
  _\/\\\___________/\\\__/\\\___________\/////\\\__\///______/\\\___\///______/\\\_____________/\\\/__\/\\\__/\\\//_____\/\\\_____\/\\\____\///______/\\\__\/\\\_____________\/\\\_      
   _\/\\\__________\//\\\/\\\________________\/\\\_________/\\\//___________/\\\//____________/\\\/____\/\\\\\\//\\\_____\/\\\\\\\\\\\/____________/\\\//___\//\\\____/\\\____/\\\__     
    _\/\\\\\\\\\_____\//\\\\\_________________\/\\\________\////\\\_________\////\\\_________/\\\/______\/\\\//_\//\\\____\/\\\//////\\\___________\////\\\___\//\\\__/\\\\\__/\\\___    
     _\/\\\////\\\_____\//\\\__________________\/\\\___________\//\\\___________\//\\\______/\\\/________\/\\\____\//\\\___\/\\\____\//\\\_____________\//\\\___\//\\\/\\\/\\\/\\\____   
      _\/\\\__\/\\\__/\\_/\\\___________________\/\\\__/\\\______/\\\___/\\\______/\\\_____/\\\/__________\/\\\_____\//\\\__\/\\\_____\//\\\___/\\\______/\\\_____\//\\\\\\//\\\\\_____  
       _\/\\\\\\\\\__\//\\\\/____________________\/\\\_\///\\\\\\\\\/___\///\\\\\\\\\/____/\\\/____________\/\\\______\//\\\_\/\\\______\//\\\_\///\\\\\\\\\/_______\//\\\__\//\\\______ 
        _\/////////____\////______________________\///____\/////////_______\/////////_____\///______________\///________\///__\///________\///____\/////////__________\///____\///_______     
*/
@import '../../styles/pneumorph.scss';

.main-navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
    padding: 15px 30px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}

.navbar-logo a {
    color: $text-color;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: monospace;
    text-decoration: none;
    text-shadow: $text-shadow;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.nav-button {
    display: inline-block;
    padding: 0.75rem 1rem;
    border-radius: $border-radius;
    font-family: monospace;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: $box-shadow;
}

.nav-button.primary {
    background-color: $button-primary-color;
    color: white;

    &:hover {
        background-color: $link-hover-color;
        box-shadow: $effect-btn-press-box-shadow;
    }
}

.nav-button.secondary {
    background-color: $background-color;
    color: $text-color;

    &:hover {
        background-color: darken($background-color, 5%);
        box-shadow: $effect-btn-press-box-shadow;
    }
}

/*
__/\\\_____________________________________/\\\_____/\\\\\\\\\\______/\\\\\\\\\\___/\\\\\\\\\\\\\\\__/\\\________/\\\____/\\\\\\\\\_________/\\\\\\\\\\___/\\\______________/\\\_        
 _\/\\\_________________________________/\\\\\\\___/\\\///////\\\___/\\\///////\\\_\/////////////\\\_\/\\\_____/\\\//___/\\\///////\\\_____/\\\///////\\\_\/\\\_____________\/\\\_       
  _\/\\\___________/\\\__/\\\___________\/////\\\__\///______/\\\___\///______/\\\_____________/\\\/__\/\\\__/\\\//_____\/\\\_____\/\\\____\///______/\\\__\/\\\_____________\/\\\_      
   _\/\\\__________\//\\\/\\\________________\/\\\_________/\\\//___________/\\\//____________/\\\/____\/\\\\\\//\\\_____\/\\\\\\\\\\\/____________/\\\//___\//\\\____/\\\____/\\\__     
    _\/\\\\\\\\\_____\//\\\\\_________________\/\\\________\////\\\_________\////\\\_________/\\\/______\/\\\//_\//\\\____\/\\\//////\\\___________\////\\\___\//\\\__/\\\\\__/\\\___    
     _\/\\\////\\\_____\//\\\__________________\/\\\___________\//\\\___________\//\\\______/\\\/________\/\\\____\//\\\___\/\\\____\//\\\_____________\//\\\___\//\\\/\\\/\\\/\\\____   
      _\/\\\__\/\\\__/\\_/\\\___________________\/\\\__/\\\______/\\\___/\\\______/\\\_____/\\\/__________\/\\\_____\//\\\__\/\\\_____\//\\\___/\\\______/\\\_____\//\\\\\\//\\\\\_____  
       _\/\\\\\\\\\__\//\\\\/____________________\/\\\_\///\\\\\\\\\/___\///\\\\\\\\\/____/\\\/____________\/\\\______\//\\\_\/\\\______\//\\\_\///\\\\\\\\\/_______\//\\\__\//\\\______ 
        _\/////////____\////______________________\///____\/////////_______\/////////_____\///______________\///________\///__\///________\///____\/////////__________\///____\///_______     
*/