<ion-content [fullscreen]="true" class="ion-padding">
  @if (user) {
  <ion-card class="ion-no-margin">
    <ion-item lines="none">
      <ion-card-title slot="start">
        <ion-badge color="primary">{{ user.role || 'Usuario'}}</ion-badge>
        {{ user.name }}
      </ion-card-title>
      <ion-button slot="end" fill="clear" color="danger" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-card>
  <div class="welcome-container">

    <ion-button expand="full" fill="solid" color="primary" (click)="goToProjects()" class="ion-margin-top">
      <ion-icon name="folder-open-outline" slot="start"></ion-icon>
      MY PROJECTS
    </ion-button>

    <app-calendar></app-calendar>
  </div>
  }

</ion-content>