<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @if (user) {
  <ion-card>
    <ion-card-title>¡Hola, {{ user.name }}!
      <ion-badge color="secondary">{{ user.role || 'Usuario'}}</ion-badge>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>

      </ion-button>
    </ion-card-title>

    <ion-card-content>
      <p>Has accedido usando tu correo: <strong>{{ user.email }}</strong></p>
    </ion-card-content>
  </ion-card>
  }

</ion-content>