<mat-card class="week-bar-card mat-elevation-z2">
    <mat-toolbar class="week-bar-toolbar">

        <!-- Botón para retroceder una semana -->
        <button mat-icon-button (click)="goToPreviousWeek()" aria-label="Semana anterior">
            <mat-icon>chevron_left</mat-icon>
        </button>

        <!-- Información de la semana -->
        <span class="week-info-text mat-title">
            Week {{ weekInfo().weekNumber }} - {{ weekInfo().monthYear | titlecase }}
        </span>

        <!-- Botón para avanzar una semana -->
        <button mat-icon-button (click)="goToNextWeek()" aria-label="Semana siguiente">
            <mat-icon>chevron_right</mat-icon>
        </button>


    </mat-toolbar>
</mat-card>