@import '../../styles/pneumorph.scss';

body {
    background-color: #ffffff;
    height: 100vh;
    border-radius: $border-radius;
}

.div-buttons {
    display: flex;
    flex-direction: row;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 27vh;
    background-color: $background-color;
    text-align: center;
    padding: 2rem;
    border-radius: $border-radius;
    border: 4px solid transparent;
    box-shadow: $box-shadow;

    h1 {
        font-size: 2.5rem;
        color: $text-color;
        margin-bottom: 2rem;
    }

    a {
        display: inline-block;
        margin: 0.5rem;
        padding: 0.75rem;
        background-color: $link-color;
        color: white;
        text-decoration: none;
        border-radius: $border-radius;
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $link-hover-color;
        }
    }
}