<div class="home-container">
    <header class="welcome-header">
        @if (username) {
        <h1>¡Welcome to Virtualknowledge, {{ username }}!</h1>
        <p>This is your private control panel.</p>
        } @else {
        <h1>Welcome!</h1>
        }
    </header>

    <section class="user-info">
        <h2>Session details</h2>
        <ul>
            <li>Username: {{ username || 'No disponible' }}</li>
            <li>Email: {{ userEmail || 'No disponible' }}</li>
        </ul>
    </section>

    <button (click)="onLogout()" class="btn btn-danger">
        <i class="fas fa-sign-out-alt"></i> Logout
    </button>
</div>