.main-header-title {
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    text-transform: none;
    font-weight: 800;

    span {
        color: white;
    }
}

ion-toolbar {
    --min-height: 60px;
}