:host {

    flex-direction: column;
    min-height: 100vh; // La aplicación ocupa al menos el 100% de la ventana
    // Esto asegura que app-root rellene el viewport, eliminando el scroll innecesario.

}

main {

    // Opcional: Esto ayuda si existe contenido que se desborda horizontalmente
    overflow-x: hidden;
    padding: 4rem 0;
    font-family: monospace;



}