<app-base-form title="Create new User" subtitle="New user details:" saveLabel="CREATE USER" (back)="goBack()"
    (save)="onRegister()">

    <ion-item>
        <ion-input label="First Name" labelPlacement="floating" [(ngModel)]="newUser.firstName" name="firstName"
            type="text" required class="ion-margin-bottom"></ion-input>
    </ion-item>

    <ion-item>
        <ion-input label="Last Name" labelPlacement="floating" [(ngModel)]="newUser.lastName" name="lastName"
            type="text" required class="ion-margin-bottom"></ion-input>
    </ion-item>

    <ion-item>
        <ion-input label="Email" labelPlacement="floating" [(ngModel)]="newUser.email" name="email" type="email"
            required class="ion-margin-bottom"></ion-input>
    </ion-item>

    <ion-item>
        <ion-input label="Password" labelPlacement="floating" [(ngModel)]="newUser.password" name="password"
            type="password" required class="ion-margin-bottom"></ion-input>
    </ion-item>

    <ion-item>
        <ion-select label="Department" labelPlacement="floating" [(ngModel)]="newUser.departmentId" name="department"
            placeholder="Select a department" class="ion-margin-bottom">
            @for (dept of departments; track dept.id) {
            <ion-select-option [value]="dept.id">
                {{ dept.name }}
            </ion-select-option>
            }
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-select label="Role" labelPlacement="floating" [ngModel]="newUser.roleId"
            (ngModelChange)="newUser.roleId = $event" name="role" class="ion-margin-bottom">
            <ion-select-option value="1">ROLE_USER</ion-select-option>
            <ion-select-option value="2">ROLE_ADMIN</ion-select-option>
        </ion-select>
    </ion-item>

</app-base-form>