.home-content {
    display: block;
    justify-items: center;
}

.home-card {
    display: block;
    justify-items: center;
}

.home-card-header {
    display: block;

    justify-items: center;
}

.home-card-content {
    display: block;
    justify-items: center;
}

.home-card mat-card-header {
    .mat-mdc-card-header-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}