:host {
    display: block;
    margin: 0 !important;
}

ion-card {
    margin: 0 !important;
    width: 100%;
}

.calendar-container {
    background: var(--ion-color-light);
    padding: 12px;

    .calendar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        h2 {
            margin: 0;
            text-transform: capitalize;
            font-weight: bold;
            color: var(--ion-color-primary);
        }
    }

    .calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
        gap: 5px;

        .weekday {
            font-weight: bold;
            font-size: 0.8em;
            color: var(--ion-color-medium);
            padding-bottom: 10px;
        }

        .day {
            padding: 12px 0;
            font-size: 1.2em;

            &:hover:not(.empty) {
                background: var(--ion-color-primary-light, #e0e0e0);
                cursor: pointer;
            }

            &.selected-week {
                background-color: var(--ion-color-primary);
                color: var(--ion-color-primary-contrast, white);
                font-weight: bold;
                border-radius: 0;
            }
        }

        .empty {
            visibility: hidden;
        }
    }

}