$primary-color: #3498db;
$background-color: #ebebeb;
$text-color: #333;
$error-color: #e74c3c;
$border-radius: 12px;
$input-padding: 0.75rem;


.error-message {
  color: #d9534f; // Un color rojo de error
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-weight: bold;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;



    form {
        background-color: $background-color;
        padding: 2rem;
        border-radius: $border-radius;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        box-shadow: 8px 8px 16px rgba(165, 177, 198, 0.8),
            -8px -8px 16px rgba(255, 255, 255, 0.8);

        div {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;

            label {
                margin-bottom: 0.5rem;
                font-weight: 600;
                color: $text-color;
            }

            input {
                padding: $input-padding;
                border: 1px solid #ccc;
                border-radius: $border-radius;
                font-size: 1rem;
                box-shadow:
                    /*Sombra*/
                    inset 3px 3px 9px rgba(0, 0, 0, .125),
                    /*Luz*/
                    inset -3px -3px 9px rgba(255, 255, 255, 1);

            }

            small {
                margin-top: 0.5rem;
                color: $error-color;
                font-size: 0.875rem;
            }
        }

        button {
            padding: $input-padding;
            background-color: $primary-color;
            color: white;
            border: none;
            border-radius: $border-radius;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:disabled {
                background-color: lighten($primary-color, 30%);
                cursor: not-allowed;
            }

            &:hover:not(:disabled) {
                background-color: darken($primary-color, 10%);
            }
        }

        label {
            margin-top: 1rem;
            text-align: center;
            font-size: 0.9rem;
            color: $text-color;
        }

        div:last-child {
            display: flex;
            justify-content: center;
            margin-top: 1rem;

            button {
                background-color: transparent;
                color: $primary-color;
                border: 2px solid $primary-color;
                padding: $input-padding;
                border-radius: $border-radius;
                font-weight: bold;

                &:hover {
                    background-color: $primary-color;
                    color: white;
                }
            }
        }
    }
}