<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Edit Project</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="form-container">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Edit project details:</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-list>
                    <ion-item class="ion-margin-bottom">
                        <ion-icon name="briefcase-outline" slot="start" color="medium"></ion-icon>
                        <ion-input label="Project Name" labelPlacement="floating" type="text" [(ngModel)]="project.name"
                            placeholder="e.g. Cloud Migration">
                        </ion-input>
                    </ion-item>

                    <ion-item class="ion-margin-bottom">
                        <ion-icon name="document-text-outline" slot="start" color="medium"></ion-icon>
                        <ion-textarea label="Description" labelPlacement="floating" [(ngModel)]="project.description"
                            placeholder="Project details...">
                        </ion-textarea>
                    </ion-item>

                    <ion-item class="ion-margin-bottom">
                        <ion-label position="stacked">Department</ion-label>
                        <ion-select [(ngModel)]="project.departmentId"
                            (ionChange)="onDepartmentChange($event.detail.value)">
                            @for (d of allDepartments; track d.id) {
                            <ion-select-option [value]="d.id">{{ d.name }}</ion-select-option>
                            }
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label position="stacked">Assigned Users</ion-label>
                        <ion-select [(ngModel)]="project.userIds" multiple="true" [compareWith]="compareWith">
                            @for (u of allUsers; track u.id) {
                            <ion-select-option [value]="u.id">
                                {{ u.firstName }} {{ u.lastName }}
                            </ion-select-option>
                            }
                        </ion-select>
                    </ion-item>
                </ion-list>

                <ion-button expand="block" color="primary" (click)="saveChanges()" class="ion-margin-top">
                    <ion-icon slot="start" name="save-outline"></ion-icon>
                    Save Changes
                </ion-button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>