<ion-content class="ion-padding">
  <ion-card>

    <ion-list lines="inset">
      <ion-list-header>
        <ion-label>
          <h2>My projects</h2>
        </ion-label>
      </ion-list-header>

      @for (project of projects; track project.id) {
      <ion-item button>
        <ion-icon name="briefcase-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h2 class="ion-text-uppercase"><b>{{ project.name }}</b></h2>
          <p>{{ project.description }}</p>
          @if (project.departmentName) {
          <ion-badge color="secondary" style="margin-top: 5px;">{{ project.departmentName }}</ion-badge>
          }

          <br>
          <ion-note color="medium" style="font-size: 0.8em;">ID: {{ project.id }}</ion-note>
        </ion-label>
      </ion-item>
      } @empty {
      <ion-item lines="none">
        <ion-label color="medium" class="ion-text-center">
          No se encontraron proyectos para este usuario.
        </ion-label>
      </ion-item>
      }
    </ion-list>
  </ion-card>
</ion-content>