<app-base-form title="Create Department" subtitle="New department details:" saveLabel="Save Department"
    (back)="goBack()" (save)="onCreateDepartment()">

    <ion-item class="ion-margin-bottom">
        <ion-icon name="business-outline" slot="start" color="medium"></ion-icon>
        <ion-input label="Department Name" labelPlacement="floating" type="text" [(ngModel)]="departmentName"
            placeholder="e.g. Marketing, Human Resources">
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Assigned Users</ion-label>
        <ion-select [(ngModel)]="selectedUserIds" multiple="true" placeholder="Select users">
            @for (u of allUsers; track u.id) {
            <ion-select-option [value]="u.id">
                {{ u.firstName }} {{ u.lastName }}
            </ion-select-option>
            }
        </ion-select>
    </ion-item>

</app-base-form>