/*
__/\\\_____________________________________/\\\_____/\\\\\\\\\\______/\\\\\\\\\\___/\\\\\\\\\\\\\\\__/\\\________/\\\____/\\\\\\\\\_________/\\\\\\\\\\___/\\\______________/\\\_        
 _\/\\\_________________________________/\\\\\\\___/\\\///////\\\___/\\\///////\\\_\/////////////\\\_\/\\\_____/\\\//___/\\\///////\\\_____/\\\///////\\\_\/\\\_____________\/\\\_       
  _\/\\\___________/\\\__/\\\___________\/////\\\__\///______/\\\___\///______/\\\_____________/\\\/__\/\\\__/\\\//_____\/\\\_____\/\\\____\///______/\\\__\/\\\_____________\/\\\_      
   _\/\\\__________\//\\\/\\\________________\/\\\_________/\\\//___________/\\\//____________/\\\/____\/\\\\\\//\\\_____\/\\\\\\\\\\\/____________/\\\//___\//\\\____/\\\____/\\\__     
    _\/\\\\\\\\\_____\//\\\\\_________________\/\\\________\////\\\_________\////\\\_________/\\\/______\/\\\//_\//\\\____\/\\\//////\\\___________\////\\\___\//\\\__/\\\\\__/\\\___    
     _\/\\\////\\\_____\//\\\__________________\/\\\___________\//\\\___________\//\\\______/\\\/________\/\\\____\//\\\___\/\\\____\//\\\_____________\//\\\___\//\\\/\\\/\\\/\\\____   
      _\/\\\__\/\\\__/\\_/\\\___________________\/\\\__/\\\______/\\\___/\\\______/\\\_____/\\\/__________\/\\\_____\//\\\__\/\\\_____\//\\\___/\\\______/\\\_____\//\\\\\\//\\\\\_____  
       _\/\\\\\\\\\__\//\\\\/____________________\/\\\_\///\\\\\\\\\/___\///\\\\\\\\\/____/\\\/____________\/\\\______\//\\\_\/\\\______\//\\\_\///\\\\\\\\\/_______\//\\\__\//\\\______ 
        _\/////////____\////______________________\///____\/////////_______\/////////_____\///______________\///________\///__\///________\///____\/////////__________\///____\///_______     
*/

@import '../../styles/pneumorph.scss';

$card-gap: 20px;
$padding-lateral-global: 20px; // Asumiendo este padding global
$max-width-global: 1200px; // Ancho máximo del layout

.users-container {
    // Centrar y limitar el ancho del contenido
    max-width: $max-width-global;
    margin: 20px auto;
    padding: 0 $padding-lateral-global;


}

.feature-grid {
    //CSS Grid para disponer en 3 columnas
    display: grid;
    // La fórmula repite 3 columnas de tamaño igual y adaptables (1fr)
    grid-template-columns: repeat(3, 1fr);
    gap: $card-gap; // Espacio uniforme entre todas las tarjetas

    // Opcional: Asegurar que el contenido no se desborde
    padding: 0;

}

.feature-user {
    background-color: $background-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 20px;
    text-align: center;
    cursor: pointer;

    &:hover {
        box-shadow: inset 3px 3px 9px rgba(165, 177, 198, 0.9),
            inset -3px -3px 9px rgba(255, 255, 255, 0.9);
        transform: translateY(2px);
    }
}

h2 {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    padding: 6px;

}

.details-btn {
    background-color: $button-primary-color;
    color: white;
    border-radius: $border-radius;

    &:hover {
        background-color: $link-hover-color;
        box-shadow: $effect-btn-press-box-shadow;
    }
}


.user-content {}

// ----------------------------------------------------
//                Responsive Básico
// ----------------------------------------------------
@media (max-width: 900px) {
    .feature-grid {
        // En tabletas, se muestran 2 tarjetas por fila
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .feature-grid {
        // En móviles, se muestra 1 tarjeta por fila
        grid-template-columns: 1fr;
    }
}

/*
__/\\\_____________________________________/\\\_____/\\\\\\\\\\______/\\\\\\\\\\___/\\\\\\\\\\\\\\\__/\\\________/\\\____/\\\\\\\\\_________/\\\\\\\\\\___/\\\______________/\\\_        
 _\/\\\_________________________________/\\\\\\\___/\\\///////\\\___/\\\///////\\\_\/////////////\\\_\/\\\_____/\\\//___/\\\///////\\\_____/\\\///////\\\_\/\\\_____________\/\\\_       
  _\/\\\___________/\\\__/\\\___________\/////\\\__\///______/\\\___\///______/\\\_____________/\\\/__\/\\\__/\\\//_____\/\\\_____\/\\\____\///______/\\\__\/\\\_____________\/\\\_      
   _\/\\\__________\//\\\/\\\________________\/\\\_________/\\\//___________/\\\//____________/\\\/____\/\\\\\\//\\\_____\/\\\\\\\\\\\/____________/\\\//___\//\\\____/\\\____/\\\__     
    _\/\\\\\\\\\_____\//\\\\\_________________\/\\\________\////\\\_________\////\\\_________/\\\/______\/\\\//_\//\\\____\/\\\//////\\\___________\////\\\___\//\\\__/\\\\\__/\\\___    
     _\/\\\////\\\_____\//\\\__________________\/\\\___________\//\\\___________\//\\\______/\\\/________\/\\\____\//\\\___\/\\\____\//\\\_____________\//\\\___\//\\\/\\\/\\\/\\\____   
      _\/\\\__\/\\\__/\\_/\\\___________________\/\\\__/\\\______/\\\___/\\\______/\\\_____/\\\/__________\/\\\_____\//\\\__\/\\\_____\//\\\___/\\\______/\\\_____\//\\\\\\//\\\\\_____  
       _\/\\\\\\\\\__\//\\\\/____________________\/\\\_\///\\\\\\\\\/___\///\\\\\\\\\/____/\\\/____________\/\\\______\//\\\_\/\\\______\//\\\_\///\\\\\\\\\/_______\//\\\__\//\\\______ 
        _\/////////____\////______________________\///____\/////////_______\/////////_____\///______________\///________\///__\///________\///____\/////////__________\///____\///_______     
*/