@import '../../styles/pneumorph.scss';


.users-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $background-color;
    border-radius: $border-radius;
    box-shadow: $form-box-shadow;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    margin: auto;
}

li {
    list-style: none;

}