.card {
    max-width: 400px;
    margin-bottom: 8px;
}

img {
    width: 100px;
    height: 100px;
}

.card-icon-div {
    padding: 5px;
}

.card-icon {
    font-size: 60px;
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

/*
.card-bg-lock {
    background-image: url('../../../assets/images/original/card-bg-code.png');

}

.card-bg-palette {
    background-image: url('../../../assets/images/original/card-bg-palette.png');
}

.card-bg-layout {
    background-image: url('../../../assets/images/original/card-bg-layout.png');
}

.card-bg-responsive {
    background-image: url('../../../assets/images/original/card-bg-responsive.png');
}

.card-bg-code {
    background-image: url('../../../assets/images/original/card-bg-code.png');
}

.card-bg-hover {
    background-image: url('../../../assets/images/original/card-bg-hover.png');
}
    */