//@use '@angular/material' as mat;

// PREBUILD THEMES
//@import '@angular/material/deeppurple-amber.css';
//@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
//@import '@angular/material/prebuilt-themes/purple-green.css';
//@import '@angular/material/prebuilt-themes/cyan-orange.css';


/*
$mi-tema-personalizado: mat.define-theme((color: (primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      // Los campos 'typography' y 'density' ya no se pasan aquí,
      // se aplican automáticamente o con mixins separados.
    ));



// 2. 🔑 APLICACIÓN DEL TEMA (Generar el CSS para los componentes)
// Esto le dice a Material que use $mi-tema-personalizado para colorear TODOS los componentes.
@include mat.all-component-themes($mi-tema-personalizado);

/* Estilos de Nivel de Sistema */
/*

body {
  // ... tu código de body sigue siendo correcto ...
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

html,
body {
  height: 100%;
}

.mat-toolbar.mat-primary {
  background-color: var(--mat-primary-color);
  color: var(--mat-primary-text-color);
}


  */