$primary-color: #3498db;
$background-color: #e0e5ec;
$text-color: #333;
$link-color: $primary-color;
$link-hover-color: darken($primary-color, 10%);
$border-radius: 8px;

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    background-color: $background-color;
    text-align: center;
    padding: 2rem;
    border-radius: 12px;

    box-shadow: 8px 8px 16px rgba(165, 177, 198, 0.8),
        -8px -8px 16px rgba(255, 255, 255, 0.8);

    h1 {
        font-size: 2.5rem;
        color: $text-color;
        margin-bottom: 2rem;
    }

    a {
        display: inline-block;
        margin-right: 0.5rem;
        padding: 0.75rem 1.5rem;
        background-color: $link-color;
        color: white;
        text-decoration: none;
        border-radius: $border-radius;
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $link-hover-color;
        }
    }
}