@if (user) {
<ion-card class="ion-no-margin user-card">
  <ion-item lines="none">
    <ion-card-title slot="start">
      {{ user.name }}
    </ion-card-title>
    <ion-badge color="primary">
      {{ user.roles}}
    </ion-badge>
    <ion-buttons slot="end">
      <ion-button fill="outline" color="primary" (click)="goToProjects()" class="ion-margin-end">
        <ion-icon name="folder-open-outline" slot="start"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-card>
}