:host {
    display: block;
    margin: 0 !important;
}

ion-card {
    margin: 0 !important;
    width: 100%;
}

.user-card {
    margin-bottom: 15px;
}

.vertical-divider {
    width: 1px;
    height: 20px;
    background-color: #444;
    margin: 0 12px;
    display: inline-block;
    vertical-align: middle;
}