<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Register</title>
    <!--<base href="/">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="icon" type="image/x-icon" href="favicon.ico">-->
</head>

<body>

    <!--registerForm es el formulario reactivo definido en register.ts
por otro lado, onSubmit() es el método- declarado en register.ts que muestra el formulario en la terminal al enviarlo-->


    <div class="register-container">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- Username field -->
            <div>
                <label for="username">Username</label>
                <input id="username" type="text" formControlName="username" />

                @if (registerForm.get('username')?.invalid && registerForm.get('username')?.touched){
                <br>
                <small style="color: red;">Username is required.</small>
                }
            </div>
            <!-- Email field -->
            <div>
                <label for="email">Email</label>
                <input id="email" type="email" formControlName="email" />

                @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched){
                <br>
                <small style="color: red;">Enter a valid email.</small>
                }
            </div>
            <!-- Password field -->
            <div>
                <label for="password1">Password</label>
                <input id="password1" type="password" formControlName="password1" />
                @if (registerForm.get('password1')?.invalid && registerForm.get('password1')?.touched){
                <br>
                <small style="color: red;">Password is required.</small>
                }
            </div>

            <!-- Password field -->
            <div>
                <label for="password2">Password</label>
                <input id="password2" type="password" formControlName="password2" />
                @if (registerForm.get('password2')?.invalid && registerForm.get('password2')?.touched){
                <br>
                <small style="color: red;">Password is required.</small>
                }
            </div>
            <!-- Submit button -->
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
    </div>

</body>

</html>